* {
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
}

.is-full-height {
	height: 100%;
}

.is-flex {
	display: flex;
}

.is-flex.center {
	justify-content: center;
}

.is-flex.vcenter {
	align-items: center;
}

.field {
	display: flex;
	flex-flow: column nowrap;
}

.is-flex > .is-half {
	width: 50%;
}

.field > label {
	font-weight: bold;
	padding-bottom: 0.25rem;
}

.p-4 {
	padding: 1rem;
}

.pre-space {
	white-space: pre;
}
